In [12]:
import pandas as pd
import numpy as np
import random

In [13]:
muertes = pd.read_csv('datos/data_2010_2017.csv', sep=',')

/home/fernando/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [30]:
economia = pd.read_csv('datos/TerriData_DimPIB.csv', sep=';')

In [15]:
conflicto_armado = pd.read_csv('datos/TerriData_DimConflictoArmado.csv', sep=';', encoding='latin-1')

/home/fernando/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (8) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [16]:
demografia = pd.read_csv('datos/TerriData_DimPoblacion.csv', sep=';')

In [17]:
demografia['Dato Numérico'] = (demografia['Dato Numérico'].apply(lambda x: x.replace('.', '').replace(',00', ''))).astype('int64')

In [18]:
muertes.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1244984 entries, 0 to 1244983
Data columns (total 10 columns):
 #   Column         Non-Null Count    Dtype
---  ------         --------------    -----
 0   anio           1244984 non-null  int64
 1   codigo_depto   1244984 non-null  object
 2   nombre_depto   1244984 non-null  object
 3   nombre_muni    1244984 non-null  object
 4   codigo_muni    1244984 non-null  object
 5   codigo_evento  1244984 non-null  object
 6   evento         1244984 non-null  object
 7   edad           1244984 non-null  object
 8   sexo           1244984 non-null  object
 9   num_casos      1244984 non-null  float64
dtypes: float64(1), int64(1), object(8)
memory usage: 95.0+ MB

In [19]:
economia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3366 entries, 0 to 3365
Data columns (total 13 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código Departamento  3366 non-null   int64
 1   Departamento         3366 non-null   object
 2   Código Entidad       3366 non-null   int64
 3   Entidad              3366 non-null   object
 4   Dimensión            3366 non-null   object
 5   Subcategoría         3366 non-null   object
 6   Indicador            3366 non-null   object
 7   Dato Numérico        3366 non-null   object
 8   Dato Cualitativo     0 non-null      float64
 9   Año                  3366 non-null   int64
 10  Mes                  3366 non-null   int64
 11  Fuente               3366 non-null   object
 12  Unidad de Medida     3366 non-null   object
dtypes: float64(1), int64(4), object(8)
memory usage: 342.0+ KB

In [20]:
demografia.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 43092 entries, 0 to 43091
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Código Departamento  43092 non-null  int64
 1   Departamento         43092 non-null  object
 2   Código Entidad       43092 non-null  int64
 3   Entidad              43092 non-null  object
 4   Dimensión            43092 non-null  object
 5   Subcategoría         43092 non-null  object
 6   Indicador            43092 non-null  object
 7   Dato Numérico        43092 non-null  int64
 8   Año                  43092 non-null  int64
 9   Unidad de Medida     43092 non-null  object
dtypes: int64(4), object(6)
memory usage: 3.3+ MB

In [21]:
conflicto_armado.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208656 entries, 0 to 208655
Data columns (total 12 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   Código Departamento  208656 non-null  int64
 1   Departamento         208656 non-null  object
 2   Código Entidad       208656 non-null  int64
 3   Entidad              208656 non-null  object
 4   Dimensión            208656 non-null  object
 5   Subcategoría         208656 non-null  object
 6   Indicador            208656 non-null  object
 7   Dato Numérico        155457 non-null  object
 8   Dato Cualitativo     4536 non-null    object
 9   Año                  208656 non-null  int64
 10  Fuente               208656 non-null  object
 11  Unidad de Medida     208656 non-null  object
dtypes: int64(3), object(9)
memory usage: 19.1+ MB

# Creación tablas

## Limpieza tabla de hechos

In [227]:
muertes

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
0,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,200524.0
1,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Hombres,114264.0
2,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Mujeres,86250.0
3,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Indeterminado,10.0
4,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Menor 1 año,Hombres,4745.0
...,...,...,...,...,...,...,...,...,...,...
1244979,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",TOTAL,Mujeres,1.0
1244980,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 1-4 años,Hombres,1.0
1244981,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 15-44 años,Hombres,1.0
1244982,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 65-84 años,Hombres,1.0
1244983,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 85-99 años,Mujeres,1.0

## Dimensión departamento

Lo que se quiere hacer es hallar el PIB per cápita de cada departamento.

In [223]:
economia_copy = economia.copy()
economia_copy = economia_copy[economia_copy['Indicador'] == 'PIB']

economia_copy['Dato Numérico'] = (economia_copy['Dato Numérico'].apply(lambda x: x.replace('.', '').replace(',', '.'))).astype('float64')
dimension_departamento = economia_copy.groupby(by = ['Código Departamento', 'Departamento']).sum()
dimension_departamento.rename(columns={'Dato Numérico': 'PIB'}, inplace=True)

for col in ('Código Entidad', 'Dato Cualitativo', 'Año', 'Mes'):
  del dimension_departamento[col]

dimension_departamento.reset_index(inplace=True)

dimension_departamento.drop(0, inplace=True)
dimension_departamento.rename(columns={'Código Departamento': 'id_departamento', 'Departamento': 'departamento'}, inplace=True)
dimension_departamento.to_csv('dimensiones/dimension_departamento.csv', sep=';', index=False)

## Dimensión municipio

Es perentorio revisar que se estén agrupando los datos como corresponde.

In [185]:
demografia_personas = demografia[demografia['Unidad de Medida'] == 'Personas']
dimension_municipio = demografia_personas.groupby(by = ['Código Departamento', 'Código Entidad', 'Entidad']).sum()
del dimension_municipio['Año']

dimension_municipio.reset_index(inplace=True)
dimension_municipio.rename(columns = {
    'Código Departamento': 'id_departamento',
    'Código Entidad': 'id_municipio',
    'Entidad': 'nombre',
    'Dato Numérico': 'poblacion'
}, inplace=True)

for id_departamento in dimension_municipio['id_departamento'].unique():
    dimension_municipio.drop(dimension_municipio[dimension_municipio['id_municipio'] == (id_departamento*1000)].index, inplace=True)
    
dimension_municipio.drop(0, inplace=True)
dimension_municipio

      id_departamento  id_municipio          nombre  poblacion
2                   5          5001        Medellín    2427129
3                   5          5002       Abejorral      20367
4                   5          5004        Abriaquí       2695
5                   5          5021      Alejandría       4657
6                   5          5030           Amagá      30227
...               ...           ...             ...        ...
1128               97         97666         Taraira       2215
1130               99         99001  Puerto Carreño      20936
1131               99         99524    La Primavera      10122
1132               99         99624   Santa Rosalía       4059
1133               99         99773        Cumaribo      72691

[1101 rows x 4 columns]

In [186]:
dimension_municipio.to_csv('dimensiones/dimension_municipio.csv', index=False)

## Dimensión fecha

In [187]:
fechas = {
    'Anio': [str(year) for year in range(2010, 2018)]
}

dimension_fecha = pd.DataFrame(fechas)
dimension_fecha.to_csv('dimensiones/dimension_fecha.csv', sep=',')
dimension_fecha

   Anio
0  2010
1  2011
2  2012
3  2013
4  2014
5  2015
6  2016
7  2017

## Dimensión sexo

In [230]:
# dimension_sexo = pd.DataFrame({'Sexo': muertes['sexo'].unique()})
tabla_hechos = muertes.copy()

# Limpieza para los sexos

sexos_validos = ('Hombres', 'Mujeres', 'Indeterminado')

tabla_hechos = tabla_hechos[(tabla_hechos['sexo'] == 'Hombres') |
                           (tabla_hechos['sexo'] == 'Mujeres') |
                           (tabla_hechos['sexo'] == 'Indeterminado')]

array(['Hombres', 'Mujeres', 'Indeterminado'], dtype=object)

## Dimensión tipo muerte

In [237]:
tabla_hechos = tabla_hechos[tabla_hechos['evento'] != 'TOTAL']

tipo_muertes = {'TipoMuerte': tabla_hechos['evento'].unique()}
dimension_tipo_muertes = pd.DataFrame(tipo_muertes)
dimension_tipo_muertes['EsViolento'] = dimension_tipo_muertes['TipoMuerte'].apply(lambda x: random.randrange(2))
dimension_tipo_muertes.to_csv('dimensiones/dimension_tipo_muerte.csv', sep=';')

                                           TipoMuerte  EsViolento
0               ENFERMEDADES INFECCIOSAS INTESTINALES           0
1                    TUBERCULOSIS, INCLUSIVE SECUELAS           0
2      CIERTAS ENF. TRANSMITIDAS POR VECTORES Y RABIA           1
3                 CIERTAS ENF. PREVENIBLES POR VACUNA           0
4                                          MENINGITIS           0
..                                                ...         ...
67                        EMBARAZO, PARTO Y PUERPERIO           1
68  MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS C...           0
69                                            RESIDUO           1
70        SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS           0
71                       OTRAS ENF. SISTEMA DIGESTIVO           0

[72 rows x 2 columns]

## Dimensión grupos de edad

In [236]:
tabla_hechos = tabla_hechos[tabla_hechos['edad'] != 'TOTAL']

grupos_edad = {'GrupoEdad': tabla_hechos['edad'].unique()}
dimension_grupos_edad = pd.DataFrame(grupos_edad)
dimension_grupos_edad.to_csv('dimensiones/dimension_grupos_edad.csv', sep=';')

## Tabla de hechos

Realizamos los últimos pasos para filtrar correctamente la tabla de hechos. El primero de ellos, es renombrar las columnas como corresponde.

In [243]:
nuevos_nombres = {
    'codigo_depto': 'id_departamento',
    'codigo_muni': 'id_municipio'
}

tabla_hechos.rename(columns=nuevos_nombres, inplace=True)

,anio,id_departamento,departamento,municipio,id_municipio,codigo_evento,tipo_muerte,edad,sexo,num_casos
24,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,Menor 1 año,Hombres,89.0
25,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,Menor 1 año,Mujeres,61.0
26,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 1-4 años,Hombres,45.0
27,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 1-4 años,Mujeres,30.0
28,2010,TOTAL,TOTAL,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 5-14 años,Hombres,20.0
...,...,...,...,...,...,...,...,...,...,...
1244976,2017,Extranjeros,Extranjeros,Venezuela,75862,616,RESIDUO,De 65-84 años,Hombres,1.0
1244980,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 1-4 años,Hombres,1.0
1244981,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 15-44 años,Hombres,1.0
1244982,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 65-84 años,Hombres,1.0
1244983,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 85-99 años,Mujeres,1.0

Después, se procede a eliminar la palabra total de varias de las columnas.

In [250]:
tabla_hechos.to_csv('dimensiones/tabla_hechos_intermedia.csv', sep=';', index=False)

Ahora eliminamos los registros que contengan 'TOTAL' puesto que es información que podría complicar el proceso de exportar información a Tableau.

In [255]:
tabla_hechos = pd.read_csv('dimensiones/tabla_hechos_intermedia.csv', sep=';')
tabla_hechos

,anio,id_departamento,id_municipio,codigo_evento,tipo_muerte,edad,sexo,num_casos
0,2010,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,Menor 1 año,Hombres,89.0
1,2010,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,Menor 1 año,Mujeres,61.0
2,2010,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 1-4 años,Hombres,45.0
3,2010,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 1-4 años,Mujeres,30.0
4,2010,TOTAL,TOTAL,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 5-14 años,Hombres,20.0
...,...,...,...,...,...,...,...,...
556154,2017,Extranjeros,75862,616,RESIDUO,De 65-84 años,Hombres,1.0
556155,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 1-4 años,Hombres,1.0
556156,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 15-44 años,Hombres,1.0
556157,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 65-84 años,Hombres,1.0
556158,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 85-99 años,Mujeres,1.0

In [256]:
for col in ('id_departamento', 'id_municipio'):
    tabla_hechos = tabla_hechos[tabla_hechos[col] != 'TOTAL']
    
tabla_hechos

,anio,id_departamento,id_municipio,codigo_evento,tipo_muerte,edad,sexo,num_casos
1272,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2.0
1273,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2.0
1274,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7.0
1275,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5.0
1276,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12.0
...,...,...,...,...,...,...,...,...
556154,2017,Extranjeros,75862,616,RESIDUO,De 65-84 años,Hombres,1.0
556155,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 1-4 años,Hombres,1.0
556156,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 15-44 años,Hombres,1.0
556157,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 65-84 años,Hombres,1.0
556158,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 85-99 años,Mujeres,1.0

Ahora pasamos la tabla de hechos a una versión intermedia mejor

In [257]:
tabla_hechos = tabla_hechos[tabla_hechos['id_departamento'] != 'Extranjeros']
tabla_hechos

,anio,id_departamento,id_municipio,codigo_evento,tipo_muerte,edad,sexo,num_casos
1272,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2.0
1273,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2.0
1274,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7.0
1275,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5.0
1276,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12.0
...,...,...,...,...,...,...,...,...
555838,2017,99,99773,612,ENFERMEDADES SISTEMA URINARIO,De 15-44 años,Hombres,1.0
555839,2017,99,99773,612,ENFERMEDADES SISTEMA URINARIO,De 45-64 años,Hombres,1.0
555840,2017,99,99773,615,"MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS C...",Menor 1 año,Hombres,1.0
555841,2017,99,99773,615,"MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS C...",Menor 1 año,Mujeres,1.0
555842,2017,99,99773,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",Menor 1 año,Mujeres,1.0

In [260]:
for col in ('id_departamento', 'id_municipio', 'num_casos'):
    tabla_hechos[col] = tabla_hechos[col].astype('int32')

/tmp/ipykernel_387923/2199660620.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_hechos[col] = tabla_hechos[col].astype('int32')

,anio,id_departamento,id_municipio,codigo_evento,tipo_muerte,edad,sexo,num_casos
1272,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2
1273,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2
1274,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7
1275,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5
1276,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12
...,...,...,...,...,...,...,...,...
555838,2017,99,99773,612,ENFERMEDADES SISTEMA URINARIO,De 15-44 años,Hombres,1
555839,2017,99,99773,612,ENFERMEDADES SISTEMA URINARIO,De 45-64 años,Hombres,1
555840,2017,99,99773,615,"MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS C...",Menor 1 año,Hombres,1
555841,2017,99,99773,615,"MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS C...",Menor 1 año,Mujeres,1
555842,2017,99,99773,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",Menor 1 año,Mujeres,1

In [261]:
del tabla_hechos['tipo_muerte']

In [262]:
tabla_hechos

,anio,id_departamento,id_municipio,codigo_evento,edad,sexo,num_casos
1272,2010,5,5001,101,De 15-44 años,Hombres,2
1273,2010,5,5001,101,De 15-44 años,Mujeres,2
1274,2010,5,5001,101,De 45-64 años,Hombres,7
1275,2010,5,5001,101,De 45-64 años,Mujeres,5
1276,2010,5,5001,101,De 65 y más,Hombres,12
...,...,...,...,...,...,...,...
555838,2017,99,99773,612,De 15-44 años,Hombres,1
555839,2017,99,99773,612,De 45-64 años,Hombres,1
555840,2017,99,99773,615,Menor 1 año,Hombres,1
555841,2017,99,99773,615,Menor 1 año,Mujeres,1
555842,2017,99,99773,700,Menor 1 año,Mujeres,1

## Tabla maestra