In [2]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder

In [3]:
tabla_hechos = pd.read_csv('datos/data_2010_2017.csv', sep=',')

/home/fernando/anaconda3/lib/python3.9/site-packages/IPython/core/interactiveshell.py:3444: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [4]:
tabla_hechos

,anio,codigo_depto,nombre_depto,nombre_muni,codigo_muni,codigo_evento,evento,edad,sexo,num_casos
0,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,200524.0
1,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Hombres,114264.0
2,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Mujeres,86250.0
3,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Indeterminado,10.0
4,2010,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,TOTAL,Menor 1 año,Hombres,4745.0
...,...,...,...,...,...,...,...,...,...,...
1244979,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",TOTAL,Mujeres,1.0
1244980,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 1-4 años,Hombres,1.0
1244981,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 15-44 años,Hombres,1.0
1244982,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 65-84 años,Hombres,1.0
1244983,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 85-99 años,Mujeres,1.0

In [5]:
nuevos_nombres = {
    'codigo_depto': 'id_departamento',
    'codigo_muni': 'id_municipio',
    'codigo_evento': 'id_tipo_muerte',
    'evento': 'tipo_muerte',
    'edad': 'grupos_edad',
    'anio': 'fecha'
}

tabla_hechos.rename(columns=nuevos_nombres, inplace=True)

In [6]:
for col in tabla_hechos.columns:
    tabla_hechos = tabla_hechos[tabla_hechos[col] != 'TOTAL']

In [7]:
tabla_hechos

,fecha,id_departamento,nombre_depto,nombre_muni,id_municipio,id_tipo_muerte,tipo_muerte,grupos_edad,sexo,num_casos
1750,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2.0
1751,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2.0
1752,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7.0
1753,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5.0
1754,2010,05,Antioquia,Medellín,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12.0
...,...,...,...,...,...,...,...,...,...,...
1244976,2017,Extranjeros,Extranjeros,Venezuela,75862,616,RESIDUO,De 65-84 años,Hombres,1.0
1244980,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 1-4 años,Hombres,1.0
1244981,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 15-44 años,Hombres,1.0
1244982,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 65-84 años,Hombres,1.0
1244983,2017,Extranjeros,Extranjeros,Venezuela,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 85-99 años,Mujeres,1.0

In [8]:
tabla_hechos.drop(['nombre_depto', 'nombre_muni'], axis='columns', inplace=True)
tabla_hechos

,fecha,id_departamento,id_municipio,id_tipo_muerte,tipo_muerte,grupos_edad,sexo,num_casos
1750,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2.0
1751,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2.0
1752,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7.0
1753,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5.0
1754,2010,05,05001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12.0
...,...,...,...,...,...,...,...,...
1244976,2017,Extranjeros,75862,616,RESIDUO,De 65-84 años,Hombres,1.0
1244980,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 1-4 años,Hombres,1.0
1244981,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 15-44 años,Hombres,1.0
1244982,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 65-84 años,Hombres,1.0
1244983,2017,Extranjeros,75862,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",De 85-99 años,Mujeres,1.0

In [9]:
for col in ('tipo_muerte', 'grupos_edad', 'sexo'):
    tabla_hechos[col] = tabla_hechos[col].astype('category')

In [10]:
tabla_hechos = tabla_hechos[tabla_hechos['id_departamento'] != 'Extranjeros']

In [11]:
for col in ('id_departamento', 'id_municipio', 'num_casos', 'fecha'):
    tabla_hechos[col] = tabla_hechos[col].astype('int32')

/tmp/ipykernel_622852/2374649294.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_hechos[col] = tabla_hechos[col].astype('int32')

In [12]:
for col in ('fecha', 'grupos_edad', 'sexo'):
    tabla_hechos['id_' + col] = LabelEncoder().fit_transform(tabla_hechos[col])
    
tabla_hechos

/tmp/ipykernel_622852/3984824051.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tabla_hechos['id_' + col] = LabelEncoder().fit_transform(tabla_hechos[col])

,fecha,id_departamento,id_municipio,id_tipo_muerte,tipo_muerte,grupos_edad,sexo,num_casos,id_fecha,id_grupos_edad,id_sexo
1750,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2,0,2,0
1751,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2,0,2,2
1752,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7,0,3,0
1753,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5,0,3,2
1754,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...
1244109,2017,99,99773,612,ENFERMEDADES SISTEMA URINARIO,De 15-44 años,Hombres,1,7,2,0
1244110,2017,99,99773,612,ENFERMEDADES SISTEMA URINARIO,De 45-64 años,Hombres,1,7,3,0
1244114,2017,99,99773,615,"MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS C...",Menor 1 año,Hombres,1,7,9,0
1244115,2017,99,99773,615,"MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS C...",Menor 1 año,Mujeres,1,7,9,2
1244118,2017,99,99773,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",Menor 1 año,Mujeres,1,7,9,2

In [13]:
tabla_hechos

,fecha,id_departamento,id_municipio,id_tipo_muerte,tipo_muerte,grupos_edad,sexo,num_casos,id_fecha,id_grupos_edad,id_sexo
1750,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Hombres,2,0,2,0
1751,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 15-44 años,Mujeres,2,0,2,2
1752,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Hombres,7,0,3,0
1753,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 45-64 años,Mujeres,5,0,3,2
1754,2010,5,5001,101,ENFERMEDADES INFECCIOSAS INTESTINALES,De 65 y más,Hombres,12,0,5,0
...,...,...,...,...,...,...,...,...,...,...,...
1244109,2017,99,99773,612,ENFERMEDADES SISTEMA URINARIO,De 15-44 años,Hombres,1,7,2,0
1244110,2017,99,99773,612,ENFERMEDADES SISTEMA URINARIO,De 45-64 años,Hombres,1,7,3,0
1244114,2017,99,99773,615,"MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS C...",Menor 1 año,Hombres,1,7,9,0
1244115,2017,99,99773,615,"MALFORMACIONES CONGEN., DEFORMID.Y ANOMALIAS C...",Menor 1 año,Mujeres,1,7,9,2
1244118,2017,99,99773,700,"SINTOMAS, SIGNOS Y AFECCIONES MAL DEFINIDAS",Menor 1 año,Mujeres,1,7,9,2

In [17]:
dimension_grupos_edad = tabla_hechos[['id_grupos_edad', 'grupos_edad']].copy().drop_duplicates()

In [18]:
dimension_grupos_edad

        id_grupos_edad       grupos_edad
1750                 2     De 15-44 años
1752                 3     De 45-64 años
1754                 5       De 65 y más
1759                 4      De 5-14 años
1767                 8  Edad desconocida
1785                 0       De 1-4 años
1795                 9       Menor 1 año
769636               6     De 65-84 años
769638               7     De 85-99 años
769717               1      De 100 y más

In [19]:
dimension_grupos_edad.to_csv('dimensiones/dimension_grupos_edad.csv', sep=';', index=False)

In [20]:
dimension_sexo = tabla_hechos[['id_sexo', 'sexo']].copy().drop_duplicates()

In [21]:
dimension_sexo

       id_sexo           sexo
1750         0        Hombres
1751         2        Mujeres
23643        1  Indeterminado

In [22]:
dimension_sexo.to_csv('dimensiones/dimension_sexo.csv', sep=';', index=False)

In [23]:
dimension_tipo_muerte = tabla_hechos[['id_tipo_muerte', 'tipo_muerte']].copy().drop_duplicates()

In [24]:
dimension_tipo_muerte

       id_tipo_muerte                                        tipo_muerte
1750              101              ENFERMEDADES INFECCIOSAS INTESTINALES
1759              102                   TUBERCULOSIS, INCLUSIVE SECUELAS
1771              103     CIERTAS ENF. TRANSMITIDAS POR VECTORES Y RABIA
1779              104                CIERTAS ENF. PREVENIBLES POR VACUNA
1785              105                                         MENINGITIS
...               ...                                                ...
4798              305                                      PARO CARDIACO
7071              504  ACC. CAUSADOS POR MAQUINAS Y POR INSTR. CORTAN...
12562             107       INFECC. CON MODO DE TRANSM. PREDOM./. SEXUAL
12646             406  ENF. HEMOLITICA DEL FETO Y DEL RECIEN N. Y KER...
613880            611                       OTRAS ENF. SISTEMA DIGESTIVO

[72 rows x 2 columns]

In [25]:
dimension_tipo_muerte.to_csv('dimensiones/dimension_tipo_muerte.csv', sep=';', index=False)

In [26]:
dimension_fecha = tabla_hechos[['id_fecha', 'fecha']].copy().drop_duplicates()

In [27]:
dimension_fecha

         id_fecha  fecha
1750            0   2010
156810          1   2011
309079          2   2012
460566          3   2013
613369          4   2014
769630          5   2015
939386          6   2016
1111324         7   2017

In [28]:
dimension_fecha.to_csv('dimensiones/dimension_fecha.csv', sep=';', index=False)

In [29]:
tabla_hechos.drop(['fecha', 'tipo_muerte', 'grupos_edad', 'sexo'], axis='columns', inplace=True)

/home/fernando/anaconda3/lib/python3.9/site-packages/pandas/core/frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [30]:
tabla_hechos

,id_departamento,id_municipio,id_tipo_muerte,num_casos,id_fecha,id_grupos_edad,id_sexo
1750,5,5001,101,2,0,2,0
1751,5,5001,101,2,0,2,2
1752,5,5001,101,7,0,3,0
1753,5,5001,101,5,0,3,2
1754,5,5001,101,12,0,5,0
...,...,...,...,...,...,...,...
1244109,99,99773,612,1,7,2,0
1244110,99,99773,612,1,7,3,0
1244114,99,99773,615,1,7,9,0
1244115,99,99773,615,1,7,9,2
1244118,99,99773,700,1,7,9,2

In [31]:
tabla_hechos.index.names = ['id_fact']

In [32]:
tabla_hechos

,id_departamento,id_municipio,id_tipo_muerte,num_casos,id_fecha,id_grupos_edad,id_sexo
id_fact,,,,,,,
1750,5,5001,101,2,0,2,0
1751,5,5001,101,2,0,2,2
1752,5,5001,101,7,0,3,0
1753,5,5001,101,5,0,3,2
1754,5,5001,101,12,0,5,0
...,...,...,...,...,...,...,...
1244109,99,99773,612,1,7,2,0
1244110,99,99773,612,1,7,3,0
1244114,99,99773,615,1,7,9,0
1244115,99,99773,615,1,7,9,2
1244118,99,99773,700,1,7,9,2

In [33]:
tabla_hechos.to_csv('dimensiones/tabla_hechos.csv', sep=';', index=True)